* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  height: 100vh;
}

.container {
  display: flex;
  width: 100%;
}

.sidebar {
  width: 200px;
  background: #1e1e2f;
  color: white;
  padding: 20px;
  position: sticky;
  top: 0;
  height: 100vh;
  overflow-y: auto;
}

.sidebar h2 {
  margin-bottom: 20px;
  font-size: 30px;
  border-bottom: 1px solid #444;
  padding-bottom: 10px;
}

.sidebar ul {
  list-style: none;
}
h2{
  margin-bottom: 20px;
}

.sidebar li {
  margin-bottom: 55px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
}

.sidebar li:hover,
.sidebar li.active {
  color: #00d8ff;
}

.content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

.unit-section {
  display: none;
  
  font-size: 30px;
}

.unit-section.active {
  display: block;
}

.definition {
  margin-bottom: 15px;
  font-size: 30px;
  color: #000000;
}

.example-box {
  
  background: #e0f7ff;
  padding: 20px;
  text-align: center;
  margin-top: 10px;
}
